extends ../layout.pug

block variables
  -var title = "Manage peoples"

block content
      h2.text-info All people
      select.form-control#filter
        option(class="d-25" value="All" selected) All
      table.table.table-striped
        thead.thead-dark
          th ID
          th First Name
          th Last Name
          th Email
          th Role
          th Save changes
        tbody#people-table

      script(src="/javascripts/manage_people.js")
        

