extends ../shared_profile.pug

block variables
  -var groupAlias = 'author'

block groupProfile
            .card
              .card-header.bg-secondary
                h2.text-white.d-inline Hồ sơ cho tác giả
                button.d-inline.float-right.btn.btn-info(onclick="enableEdit('author-profile-form')")
                  span
                    i.fa.fa-2x.fa-edit
              .card-body
                form(action="/author/update-profile", method="post")#author-profile-form.w-100
                  .form-group.w-100
                      label(for='email') Email
                      input.form-control(type='email' name="email" value='')
                  .d-flex.justify-content-end
                      button.btn.btn-success.mr-2(type='submit' disabled) Save
                      button.btn.btn-danger.mr-2(disabled onclick="discardChange('author-profile-form')") Cancel
