extends layout

block variables
  -var title= "Thành công"

block content
      h3.text-center= message
      .d-flex.justify-content-center
        a.btn.btn-success(href=`${returnUrl? returnUrl: '/'}`) Trờ về