extends ../layout.pug
include article-detail-partial
include review-content-partial
include article-result-partial

block variables
  -var title= "Chi tiết bài báo"

block content      
      +article-detail-partial(currentRole, isContactAuthor, detail, contactAuthorProfile, allAuthorNames, editorProfile, nextPossibleState, reviewers)
      +review-content-partial(currentRole, reviewerSSN, detail, allCriterias, reviewContents)
      +article-result-partial(currentRole, detail)

      //Phần lựa chọn hình thức xuất bản cho bài báo
      if detail.state==='XuatBan'
      .card.mt-5
        .car-header.bg-info
          h5.font-weoght-bold.text-white Thông tin xuất bản
        .card-body
          if currentRole==='author'
            form(action='update-publish-method' method='post')
              .form-group
                h5.font-weight-bold Hình thức xuất bản 
                select(name="publish-method")
                  option(value="TruyenThong") Xuất bản dạng truyền thống
                  option(value="OpenAccess") Xuất bản dạng Open Access
          else if currentRole==='editor'
            form(action="update-publish-infomation" method="post")
            
      script(src='/javascripts/article-detail.js')